<!DOCTYPE html>
<html>
    <style>
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 5px 15px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
        }
            
        .home {
            font-size: 30px;
        }
        
        div { 
            text-align: center;
        }
        
        h1 {
            padding: 60px 180px 0 60px;
        }
        
    </style>
    
    <head>
        <title> [Company Name] | JobsUp </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    
    <body>
        <!-- Top Navigation Bar -->
        <nav class="navbar navbar-default navbar-static-top navbar-inverse navbar-fixed-top"> 
	        <div class="container">
	            <ul class="nav navbar-nav">
	                <li class="home">
		                <a href=""><span class=""></span> JobsUp</a>
                    </li>
		            <li class="profile" style="margin-left:750px;">
		                <a href="/"><span class="glyphicon glyphicon-user"></span> Company </a>
		            </li>
                    <li>
		            <form class="logout" style="padding-top:13px;" action = "/log_out" method = "GET">
                        <button class="logout" type = "submit">Logout</button>
                    </form> 
                    </li>
		        </ul>
		    </div>
	    </nav>
	    
        <h1>My Profile</h1>
        
	    <!-- Profile Page -->
	    <div class="container">
	        <div class="row">
	        
	            <div class="col-lg-6">
                    <div class="left">
                        <div class="panel panel-default" style="margin-left: -20px;">
                            <form action="/edit_profile/" method="post" style="padding: 5px;">
                            {% csrf_token %}
                                <div class="panel-body" style="height: 480px; text-align: left;">
                                <input type="text" id="hashid" name="hashid" class="hidden" value={{user.hashid}}>
                                    <label for="cname"> Company Name </label> <br> 
                                    <input type="text" id="company-name" name = "company_name" value = "{{user.profile.company_name}}" style = "width:400px;"><br>
            
                                    <label for="email"> Email </label> <br> 
                                    <input type="text" id="email" name = "email" value = {{user.email}} style = "width:400px;"><br>
                
                                    <label for="phone-num"> Phone Number </label> <br> 
                                    <input type="text" id="phone-number" name = "phone_num" value = {{user.profile.phone_num}} style = "width:400px;"><br>
                
                                    <label for="address"> Address </label> <br> 
                                    <input type="text" id="address" name = "str_address" value = "{{user.str_address}}" style = "width:400px;"><br>

                                    <label for="address"> City </label> <br> 
                                    <input type="text" id="address" name = "city" value = "{{user.city}}" style = "width:400px;"><br>

                                    <label for="address"> State </label> <br> 
                                    <input type="text" id="address" name = "state" value = "{{user.state}}" style = "width:400px;"><br>

                                    <label for="address"> Zipcode </label> <br> 
                                    <input type="text" id="address" name = "zipcode" value = "{{user.zipcode}}" style = "width:400px;"><br>
                    
                                    <label for="website"> Website </label> <br>
                                    <input type="text" id="website" name = "website" value = "{{user.profile.website}}"" style = "width:400px;"><br>
                                    <br>
                                    <input type = "submit" class="button" value = "Save">
                                </div>
                            </form>
                        </div>
                    </div> <!-- End of left -->
                </div>
                
                <div class="col-lg-6">
                    <div class="right" >
                        <a href="~/../Applicants.html" class="button"> View Applicants </a>
                    </div> <!-- End of right -->
                </div> 
                                
            </div> <!-- End of row -->
        </div> <!-- End of container -->
        
    </body>

</html>