<!DOCTYPE html>
<html>
	<head>
		<title>JobsUp: Log In or Sign Up</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel = "stylesheet" href = "/static/stuff.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	</head>
	<body>
	    <!-- Top Navigation Bar -->
	    <nav class="navbar navbar-default navbar-static-top navbar-inverse navbar-fixed-top"> 
	        <div class="container">
	            <ul class="nav navbar-nav">
	                <li class="home">
		                <a href="/"><span class=""></span> JobsUp</a>
                    </li>
		            <li class="email-login" style = "padding-top:13px; margin-left:580px;">
		                <input type="text" placeholder="Email">
		            </li>
		            <li class="password-login" style="padding-top:13px; margin-left:20px;">
		                <input type="text" placeholder="Password">
		            </li>
		            <li class="login">
		                <a href="/"> Login </a>
		            </li>                
		        </ul>
		    </div>
	    </nav>
	    
        <h1> Welcome to JobsUp, <br> an interactive map of <br> open positions in your area! </h1>

        <!-- Sign Up Form -->
        <div class="account"> 
            <form action="/action_page.php">
                <label for="fname"> First Name </label> <br> 
                <input type="text" value=""><br>
            
                <label for="lname"> Last Name </label> <br>
                <input type="text" value=""><br>
            
                <label for="email"> Email </label> <br> 
                <input type="text" value=""><br>
            
                <label for="pwd"> Password </label> <br> 
                <input type="text" value=""><br> 
            </form>
        </div>
    
        <div class="user">
            <form action="/action_page.php" method="get">
                <input type="checkbox" name="user"> Employee <br> 
                <input type="checkbox" name="user"> Company <br>
            </form>
            <a href="" class="button"> Sign Up </a> 
        </div>
        
        <!-- Bottom Navigation Bar -->
        <nav class="navbar navbar-default navbar-bottom navbar-inverse navbar-fixed-bottom"> 
            <div class="container">
	            <ul class="nav navbar-nav">
	                <li class="about">
		                <a href="/"><span class="glyphicon glyphicon-info-sign"></span> About Us </a>
                    </li>        
                    <li class="contact">
                        <a href="/"><span class="glyphicon glyphicon-envelope"></span> Contact </a>
                    </li> 
		        </ul>
		    </div>
        </nav>
        
    </body>
</html>