<!DOCTYPE html>
<html>
    <style>
        .btn-searching{
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 10px;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            border-radius: 12px;
            margin: -20px 10px 10px 10px;
        }
    
        .home {
            font-size: 30px;
            margin-left: 60px;
        }
        
        h1 {
            text-align: left;
            padding-left: 10px;
            padding-bottom: 10px;
        }
        
        #map {
            width: 100%;
            height: 400px;
            background-color: grey;
        }
        
        .left {
            margin-top: 50px; 
            width: 250px;
            margin-left: -60px;
        }
        
        .map-container {
            width: 1000px;
            margin-top: 50px;
            margin-left: -5px;
        }
        
        #map {
            width: 100%;
            height: 560px;
        }
    </style>
    <head>
        <title> Search | JobsUp </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    
    <body>
        <!-- Top navigation bar -->
        <nav class="navbar navbar-default navbar-static-top navbar-inverse navbar-fixed-top"> 
	        <div class="top_nav">
	            <ul class="nav navbar-nav">
	                <li class="home">
		                <a href=""><span class=""></span> JobsUp </a>
                    </li> 
                    <li class="profile" style="margin-left:800px;">
		                <a href="~/../UserProfiles.html"><span class="glyphicon glyphicon-user"></span> Employee </a>
		            </li>  
		            <li class="logout" style="text-align:right;">
		                <a herf="">Logout</a>
		            </li> 
		        </ul>
		    </div>
	    </nav>
	    
	    <div class="container">
	        <div class="row">
	        
	            <!-- Search Filter Panel Left Container-->
	            <div class="col-lg-2">
                    <div class="left">
                        <div class="panel panel-default" >
                            <!--<h1> Search Filter </h1>
                            <form action="/action_page.php" method="get">
                                <div class="panel-body" style="height:480px;margin-top:-20px;">
                                
                                   
                                    <label for="zipcode"> Current Zip Code </label> <br>
                                    <div class="row" style="margin-bottom: 5px;">
                                        <div class="col-xs-3 col-xs-offset-0" style="width: 290px;">
                                            <div class="input-group">
                                                <input type="text" id="zip-code"><br>
                                            </div>
                                        </div> 
                                    </div>

                                    
                                    <label for="radius"> Radius </label> <br>
                                    <div class="row" style="margin-bottom: 5px;">
                                        <div class="col-xs-3 col-xs-offset-0">
                                            <div class="input-group">
                                                <div class="input-group-btn search-panel">
                                                    <select class="btn btn-default dropdown-toggle" id="radius" data-toggle="dropdown" style="text-align: left">
                                                        <option></option>
                                                        <option> < 5 miles</option>
                                                        <option> < 10 miles</option>
                                                        <option> < 15 miles</option>
                                                        <option>20+ miles</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                        
                                    
                                    <label for="position"> Job Position </label> <br>                      
                                    <div class="row" style="margin-bottom: 5px;">
                                        <div class="col-xs-3 col-xs-offset-0">
                                            <div class="input-group">
                                                <div class="input-group-btn search-panel">
                                                    <select class="btn btn-default dropdown-toggle" id="job-position" data-toggle="dropdown">
                                                        <option></option>
                                                        <option>Internship</option>
                                                        <option>Full-time</option>
                                                        <option>Part-time</option>
                                                        <option>Co-op</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                        
                                    
                                    <label for="degree"> Degree Level </label> <br>
                                    <div class="row" style="margin-bottom: 5px;">
                                        <div class="col-xs-3 col-xs-offset-0">
                                            <div class="input-group">
                                                <div class="input-group-btn search-panel">
                                                    <select class="btn btn-default dropdown-toggle" id="degree" data-toggle="dropdown" style="text-align: left">
                                                        <option></option>
                                                        <option>Associates</option>
                                                        <option>Bachelors</option>
                                                        <option>Masters</option>
                                                        <option>PhD</option>
                                                        <option>None</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>

                                    
                                    <label for="academic"> Academic Level </label> <br>
                                    <div class="row" style="margin-bottom: 5px;">
                                        <div class="col-xs-3 col-xs-offset-0">
                                            <div class="input-group">
                                                <div class="input-group-btn search-panel">
                                                    <select class="btn btn-default dropdown-toggle" id="academic-level" data-toggle="dropdown" style="text-align: left">
                                                        <option></option>
                                                        <option>First-year</option>
                                                        <option>Sophomore</option>
                                                        <option>Junior</option>
                                                        <option>Senior</option>
                                                        <option>Masters</option>
                                                        <option>PhD</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                        
                                    
                                    <label for="industry"> Industry/Field of Study </label> <br>
                                    <div class="row" style="margin-bottom: 5px;">
                                        <div class="col-xs-3 col-xs-offset-0" style="width: 290px;">
                                            <div class="input-group">
                                                <input type="text" id="industry"><br>
                                            </div>
                                        </div> 
                                    </div>
                        
                                    
                                    <label for="compensation"> Compensation </label> <br>
                                    <div class="row" style="margin-bottom: 5px;">
                                        <div class="col-xs-3 col-xs-offset-0">
                                            <div class="input-group">
                                                <div class="input-group-btn search-panel">
                                                    <select class="btn btn-default dropdown-toggle" id="compensation" data-toggle="dropdown" style="text-align: left">
                                                        <option></option>
                                                        <option>Paid</option>
                                                        <option>Unpaid</option>
                                                        <option>Stipend</option>
                                                        <option>School Credit</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                        
                                </div> 
                            </form> 
                
                            
                            <button type="search" class="btn btn primary" name="searching" style="background-color: #4CAF50; margin: -180px 10px 10px 15px; color:white;">Search</button>-->
                        
                        </div> <!-- End of actual panel div -->
                    </div> 
                </div> <!-- End of left container -->
                
                <!-- Map container --> 
                <div class="col-lg-10">  
                    <div class="map-container">
                        <div class="panel panel-default" >
                            <div class="panel-body" style="height:580px;">
                                <!-- initMap is called inside this div to produce the map -->
                                <div id="map">
                                    
                                </div>
                            </div>
                        </div>
                    </div> 
                </div> <!-- End of right container -->
                
            </div> <!-- End of row div -->
        </div> <!-- End of whole container div -->
                
        <!-- Map API -->
        <script>
            // Puts a marker on the map based on latitude and longitude values
            var map, infoWindow;
            function initMap() {
                var uluru = {lat: 40.7128, lng: -74.0059};
                map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 15,
                  center: uluru
                });
                infoWindow = new google.maps.InfoWindow;
                var marker = new google.maps.Marker({
                  position: uluru,
                  map: map
                });

                if(navigator.geolocation){
                    navigator.geolocation.getCurrentPosition(function(position){
                        var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };

                        infoWindow.setPosition(pos);
                        infoWindow.setContent('Location found.');
                        marker = new google.maps.Marker({
                            position: pos,
                            map: map
                        });
                        infoWindow.open(map);
                        map.setCenter(pos);
                    }, function(){
                        handelLocationError(true, infoWindow, map.getCenter());
                    });
                }else{
                    handleLocationError(false, infoWindow, map.getCenter());
                }
            }

            function handleLocationError(browserHasGeolocation, infoWindow, pos){
                infoWindow.setPosition(pos);
                infoWindow.setContent(browserHasGeolocation ? 
                    'Error: Service Failed.' :
                    'Error: Browser does not support geolocation.');
                infoWindow.open(map);
            }
        </script>
        
        <!-- Using Google Maps API --> 
        <script async defer 
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJzcnEVhOL2N5QLhNrYiWwbVLSLzNPsDg&callback=initMap">
        </script>
        
    </body> 
</html>
