<!DOCTYPE html>
<html>
    <style>
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 5px 15px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
        }
            
        .home {
            font-size: 30px;
        }
        
        div { 
            text-align: center;
        }
        
        h1 {
            text-align: left;
            padding: 60px 180px 0 0;
            margin-left: -20px;
        }
        
    </style>
    
    <head>
        <title> [Employee Name] | JobsUp </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    
    <body>
        <!-- Top Navigation Bar -->
        <nav class="navbar navbar-default navbar-static-top navbar-inverse navbar-fixed-top"> 
	        <div class="container">
	            <ul class="nav navbar-nav">
	                <li class="home">
		                <a href=""><span class=""></span> JobsUp</a>
                    </li>
		            <li class="profile" style="margin-left:700px;">
		                <a href="/"><span class="glyphicon glyphicon-user"></span> Employee </a>
		            </li>
                    <li>
		            <form class="logout" style = "padding-top:13px;" action = "/log_out" method = "GET">
		                <input class = "logout" type = "submit" value = "Logout"><
		            </form> 
                    </li>
		        </ul>
		    </div>
	    </nav>
	    
	    <!-- Profile -->
	    <div class="container">
            <h1>My Profile</h1>
            
            <div class="col-lg-6">
                <div class="left">
                    <div class="panel panel-default" style="margin-left: -35px;">
                        <form action="/edit_profile/" method="post" style="padding: 5px;">
                        {% csrf_token %}
                            <div class="panel-body" style="height: 480px; text-align: left;">
                            <input type="text" id="hashid" name="hashid" class="hidden" value={{user.hashid}}>
                                <label for="fname"> First Name </label> <br> 
                                <input type="text" id="first_name" name = "first_name" value = {{user.first_name}} style = "width:400px;"> <br>
                
                                <label for="lname"> Last Name </label> <br>
                                <input type="text" id="last_name" name = "last_name" value = {{user.last_name}} style = "width:400px;"><br>
            
                                <label for="email"> Email </label> <br> 
                                <input type="text" id="email" name = "email" value = {{user.email}} style = "width:400px;"><br>
                
                                <label for="phone-num"> Phone Number </label> <br> 
                                <input type="text" id="phone-number" name = "phone_num" value = {{user.profile.phone_num}} style = "width:400px;"><br>
                
                                <label for="degree"> Educational Degree </label> <br> 
                                <select class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="text-align: left" name = "degree">
                                    <option>{{user.profile.degree}}</option>
                                    <option>Associates</option>
                                    <option>Bachelors</option>
                                    <option>Masters</option>
                                    <option>PhD</option>
                                    <option>None</option>
                                </select> <br>
                    
                                <label for="address"> Address </label><br>
                                <input type="text" id="address" name = "address" value = "{{user.profile.address}}" style = "width:400px;"><br>
                    
                                <label for="resume"> Resume link </label> <br> 
                                <input type="text" id="resume" name = "resume" value = {{user.profile.resume}} style = "width:400px;"><br>
                                <br>
                                <input class="button" type = "submit" value = "Save">   
                            </div>
                        </form>
                    </div> <!-- End of panel panel-default -->
                </div> <!-- End of left panel -->
            </div> <!-- End of left column -->
            
            <div class="col-lg-6">
                <div class="right" >
                    <div class="panel panel-default" >
                            <h1 style = "margin-top:-40px;"> Search Filter </h1> <br>
                            <form action="/view_map/" method="get">
                            <input type="text" id="hashid" name="hashid" class="hidden" value={{user.hashid}}>
                                <div class="panel-body" style="height:400px; margin-top:-50px;">
                                
                                    <!-- Current Zip Code -->

                                    <!-- Seek job in radius from current address -->
                                    <label for="radius"> Radius </label> 
                                    <div class="row" style="">
                                        <div class="col-xs-3 col-xs-offset-0">
                                            <div class="input-group">
                                                <div class="input-group-btn search-panel">
                                                    <select class="btn btn-default dropdown-toggle" id="radius" name = "radius" data-toggle="dropdown" style="text-align: center">
                                                        <option></option>
                                                        <option value = "5"> < 5 miles</option>
                                                        <option value = "10"> < 10 miles</option>
                                                        <option value = "15"> < 15 miles</option>
                                                        <option value = "20">20+ miles</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                        
                                    <!-- Job Position Filter -->
                        
                                    <!-- Degree Level Filter -->

                                    <!-- Academic Level -->
                        
                                    <!-- Industry/Field of Study -->
                        
                                    <!-- Compensation -->
                        
                                </div> <!-- End of content in panel div --> 
                                <button type="submit" class="btn btn primary" name="searching" style="background-color: #4CAF50; margin: -180px 10px 10px 15px; color:white;">Search</button>
                            </form> <!-- End of form -->
                
                            <!-- <a href="" class="button"> Search </a> -->
                        
                        </div> <!-- End of actual panel div -->
                    </div> 
                    <a href="~/../Applications.html" class="button"> View Applications </a>
                </div> <!-- End of right -->
            </div> 
        
    </body>

</html>